fmystyle.css

html {
    height: 100%;
}
body {
  background-image: url("../assets/images/rinconcito_background_red.jpg");
  background-repeat: no-repeat;
  background-size:contain;


}


h2 {
  text-shadow: 4px 4px black;
  font-size: 45px;
  color: white;
}

#menu td, #menu th {
  border: 0px ;
  padding: 8px;
}


#menu_2 td, #menu_2 th {
  border: 0px ;
  padding: 8px;
}

#menu tr td:nth-child(1) { 
	color: #c22094;
    text-shadow: 3px 3px black;
	font-size: 45px;
} 

#menu tr td:nth-child(2) { 
	color: #fcd330;
    text-shadow: 2px 2px black;
	font-size: 30px;
} 

#menu tr td:nth-child(2) span { 
    padding-left:10px;
    color: white;
    font-size: 20px;
} 


#menu tr td:nth-child(3) { 
	color: white;
    text-shadow: 1px 1px #be572c;
	font-size: 30px;
} 

.floatLeft { width: 50%; float: left; }
.floatRight {width: 50%; float: right; }
.container { overflow: hidden; }

///////////////////////
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

*
{		
    margin: 0;
    padding: 0;
}


body
{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: white;
    background-color: #7c0f0c;
    word-wrap:break-word;
}




.animate {
    font-size: 140px;
    margin: 180px 0 10;
    border-bottom: 3px solid white;
}

.animate span {
    display: inline-block;
}


.animate span:nth-of-type(2) {
    animation-delay: .05s;
}
.animate span:nth-of-type(3) {
    animation-delay: .1s;
}
.animate span:nth-of-type(4) {
    animation-delay: .15s;
}
.animate span:nth-of-type(5) {
    animation-delay: .2s;
}
.animate span:nth-of-type(6) {
    animation-delay: .25s;
}
.animate span:nth-of-type(7) {
    animation-delay: .3s;
}
.animate span:nth-of-type(8) {
    animation-delay: .35s;
}
.animate span:nth-of-type(9) {
    animation-delay: .4s;
}
.animate span:nth-of-type(10) {
    animation-delay: .45s;
}
.animate span:nth-of-type(11) {
    animation-delay: .5s;
}
.animate span:nth-of-type(12) {
    animation-delay: .55s;
}
.animate span:nth-of-type(13) {
    animation-delay: .6s;
}
.animate span:nth-of-type(14) {
    animation-delay: .65s;
}
.animate span:nth-of-type(15) {
    animation-delay: .7s;
}
.animate span:nth-of-type(16) {
    animation-delay: .75s;
}
.animate span:nth-of-type(17) {
    animation-delay: .8s;
}
.animate span:nth-of-type(18) {
    animation-delay: .85s;
}
.animate span:nth-of-type(19) {
    animation-delay: .9s;
}
.animate span:nth-of-type(20) {
    animation-delay: .95s;
}

  

/* Animation Five */
.five span {
    color: white;
    text-shadow: 4px 4px #be572c;
    opacity: 0;
    transform: translate(0, -100px) rotate(360deg) scale(0);
    animation: dropVanish .5s forwards;
}


@keyframes dropVanish {
    30% {
        transform: translate(0, -50px) rotate(180deg) scale(1);
    }

    50% {
        transform: translate(0, 20px) scale(.8) rotate(0deg);
        opacity: 1;
    }

    80% {
        transform: translate(-100px, -100px) scale(1.5) rotate(-180deg);
        opacity: 0;
    }

    100% {
        transform: translate(0) scale(1) rotate(0deg);
        opacity: 1;
    }
}
